{% extends "handleui/base.html" %}
{% block user %}
          <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <img alt="" src="/static/handleui/img/avatar1_small.jpg"/> 
          <span class="username">
              {{  email }}
      </span> <i class="icon-angle-down"></i> </a>
          <ul class="dropdown-menu">
              <li><a href="login.html"><i class="icon-key"></i> 退出</a> </li>
          </ul>
{% endblock %}
{% block header %}
       <li> <a href="/cloudsafe/scan/results/"> 扫描结果 </a> </li>
        <li> <a href="/cloudsafe/scan/queue/">扫描队列</a> </li>
		<li> <a href="/cloudsafe/scan/bug_index/">漏洞检索</a> </li>
		<li> <a href="/cloudsafe/scan/scan_index/">端口扫描</a> </li>
        <li> <a href="/cloudsafe/scan/infaq/">帮助中心</a> </li>
        <li  class="active"> <a href="/cloudsafe/scan/inabout/"> <span class="selected"></span> 关于我们</a> </li>
{% endblock %}
{% block content %}
    <!-- BEGIN PAGE CONTAINER -->  
    <div class="page-container">
		<!-- BEGIN CONTAINER -->   
		<div class="container min-hight">
			<!-- BEGIN ABOUT INFO -->   
			<div class="row margin-bottom-30">
				<!-- BEGIN INFO BLOCK -->               
				<div class="col-md-12 space-mobile">
					<h2>计算中心简介</h2>
					<p>高能物理所计算中心是以从事网格应用、高性能计算、海量数据存储与管理、网络安全以及数据库应用等研究的机构，同时承担着计算机和网络环境建设、管理、维护运行任务，有近三十名工作人员和二十名研究生在这里从事研究和技术支持工作。到2008年末，计算中心已建成拥有近2000个CPUs(cores)，800TB磁盘空间构成的高性能计算集群系统；万兆和千兆骨干网络覆盖整个高能所园区。</p> 
					<p>计算中心参与国际高能物理网格LCG (LHC Computing Grid)的研究与部署。目前在计算中心建立了以EGEE网格中间件为基础的LCG二级站点，为高能物理提供网格计算支持。计算中心同时是欧盟项目EUChinaGrid的成员单位，负责网格技术的研究以及在高能物理、天体物理以及生物医学领域的应用推广。 </p>
                    <h2>联系方式</h2>
                    <p>邮件咨询：nwgadmin@ihep.ac.cn</p>
                    <p>客服热线：15911072623</p>
                    <p>官方微博：http://weibo.com/u/3902953948</p>
                    <p>QQ咨询：949409306</p>
				</div>
				<!-- END INFO BLOCK -->   
          
			</div>
			<!-- END ABOUT INFO -->   

		</div>
		<!-- END CONTAINER -->

	</div>
    <!-- END PAGE CONTAINER -->  
{% endblock %}
