<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8" />
<title>云安全服务平台</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<meta name="MobileOptimized" content="320">
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="/static/handleui/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/handleui/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/static/handleui/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="/static/handleui/plugins/select2/select2_metro.css" />
<link rel="stylesheet" href="/static/handleui/plugins/data-tables/DT_bootstrap.css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="/static/handleui/css/style-metronic.css" rel="stylesheet" type="text/css"/>
<link href="/static/handleui/css/style.css" rel="stylesheet" type="text/css"/>
<link href="/static/handleui/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="/static/handleui/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="/static/handleui/css/plugins.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="/static/handleui/img/favicon.ico" />
<link href="/static/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" media="screen">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-full-width">
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top"> 
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="header-inner"> 
    <!-- BEGIN LOGO --> 
    <a class="navbar-brand" href="/admin"> <img src="/static/handleui/img/logo.png" alt="logo" class="img-responsive" /> </a> 
    <!-- END LOGO --> 
    <!-- BEGIN HORIZANTAL MENU -->
    <div class="hor-menu hidden-sm hidden-xs">
      <ul class="nav navbar-nav">
        {% block header %}

        {% endblock %}
      </ul>

    </div>
    <!-- END HORIZANTAL MENU --> 
    <!-- BEGIN RESPONSIVE MENU TOGGLER --> 
    <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <img src="/static/handleui/img/menu-toggler.png" alt="" /> </a> 
    <!-- END RESPONSIVE MENU TOGGLER --> 
    <!-- BEGIN TOP NAVIGATION MENU -->
    <ul class="nav navbar-nav pull-right">
      <!-- BEGIN USER LOGIN DROPDOWN -->
      <li class="dropdown user"> 
          {% block user %}

          {% endblock %}
      </li>
      <!-- END USER LOGIN DROPDOWN -->
    </ul>
    <!-- END TOP NAVIGATION MENU --> 
  </div>
  <!-- END TOP NAVIGATION BAR --> 
</div>
<!-- END HEADER -->
<div class="clearfix"></div>
<!-- BEGIN CONTAINER -->
<div class="page-container"> 
  <!-- BEGIN PAGE -->
  <div class="page-content"> 
    
    <!-- BEGIN PAGE CONTENT-->
    {% block content %}

    {% endblock %}
    

    <!-- END PAGE CONTENT--> 
  </div>
  <!-- END PAGE --> 
</div>
<!-- END CONTAINER --> 

<!-- BEGIN FOOTER -->
  
<!-- END FOOTER --> 

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) --> 
<!-- BEGIN CORE PLUGINS --> 
<!--[if lt IE 9]>
   <script src="/static/handleui/plugins/respond.min.js"></script>
   <script src="/static/handleui/plugins/excanvas.min.js"></script> 
   <![endif]--> 
<script src="/static/bugs/js/echarts.js"></script>
<script src="/static/handleui/plugins/jquery-1.10.2.min.js" type="text/javascript"></script> 
<script src="/static/handleui/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script> 
<script src="/static/handleui/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> 
<script src="/static/handleui/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script> 
<script src="/static/handleui/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script> 
<script src="/static/handleui/plugins/jquery.blockui.min.js" type="text/javascript"></script> 
<script src="/static/handleui/plugins/jquery.cookie.min.js" type="text/javascript"></script> 
  <script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/static/handleui/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> 
<!-- END CORE PLUGINS --> 
<!-- BEGIN PAGE LEVEL PLUGINS --> 
<script type="text/javascript" src="/static/handleui/plugins/select2/select2.min.js"></script> 
<script type="text/javascript" src="/static/handleui/plugins/data-tables/jquery.dataTables.js"></script> 
<script type="text/javascript" src="/static/handleui/plugins/data-tables/DT_bootstrap.js"></script> 
<!-- END PAGE LEVEL PLUGINS --> 
<!-- BEGIN PAGE LEVEL SCRIPTS --> 
<script src="/static/handleui/scripts/app.js"></script> 
<script src="/static/handleui/scripts/table-managed.js"></script> 
   
<script>
      jQuery(document).ready(function() {       
         App.init();
         TableManaged.init();
      });
   </script> 
   	<script src="/static/bugs/js/jquery.twbsPagination.js"></script>
<script type="text/javascript">
    {% block javascript %}

    {% endblock %}
	</script>
</body>
<!-- END BODY -->
</html>
