{% extends "handleui/base.html" %}
{% block user %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <img alt="" src="/static/handleui/img/avatar1_small.jpg"/> 
          <span class="username">
              {{  email }}
      </span> <i class="icon-angle-down"></i> </a>
          <ul class="dropdown-menu">
              <li><a href="login.html"><i class="icon-key"></i> 退出</a> </li>
          </ul>
{% endblock %}
{% block header %}
     
		<li> <a href="/cloudsafe/scan/results/">扫描结果 </a> </li>
        <li> <a href="/cloudsafe/scan/queue">扫描队列</a> </li>
		<li> <a href="/cloudsafe/scan/bug_index/">漏洞检索</a> </li>
		<li> <a href="/cloudsafe/scan/scan_index/">端口扫描</a> </li>
        <li  class="active"> <a href="/cloudsafe/scan/infaq/"> <span class="selected"></span> 帮助中心</a> </li>
        <li> <a href="/cloudsafe/scan/inabout/">关于我们</a> </li>
{% endblock %}
{% block content %}
    <!-- BEGIN PAGE CONTAINER -->  
    <div class="row">
		<!-- BEGIN CONTAINER -->   
		<div class="col-md-12 margin-bottom-40">
			<div class="row">
				<div class="col-md-3">
                    <ul class="ver-inline-menu tabbable margin-bottom-10">
                      <li class="active">
                         <a data-toggle="tab" href="#tab_1">
                         新手指南
                         </a> 
                         <span class="after"></span>                                    
                      </li>
                      <li><a data-toggle="tab" href="#tab_2">常见问题</a></li>
                      <li><a data-toggle="tab" href="#tab_3">产品介绍</a></li>
                    </ul>        
				</div>

				<div class="col-md-9">
                    <!-- BEGIN TAB CONTENT -->
                    <div class="tab-content">
                      <!-- START TAB 1 -->
                      <div id="tab_1" class="tab-pane active">
                         <div id="accordion1" class="panel-group">
                            <div class="panel panel-success">
                               <div class="panel-heading">
                                  <h4 class="panel-title">
                                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                                     1. 如何查看扫描结果?
                                     </a>
                                  </h4>
                               </div>
                               <div id="accordion1_1" class="panel-collapse">
                                  <div class="panel-body">
                                     在操作栏选择->点击查看扫描结果
                                  </div>
                               </div>
                            </div>
                            <div class="panel panel-success">
                               <div class="panel-heading">
                                  <h4 class="panel-title">
                                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">
                                     2. 如何修复漏洞?
                                     </a>
                                  </h4>
                               </div>
                               <div id="accordion1_2" class="panel-collapse">
                                  <div class="panel-body">
                                     根据扫描结果的提示
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <!-- END TAB 1 -->
                      <!-- START TAB 2 -->
                      <div id="tab_2" class="tab-pane">
                         <div id="accordion2" class="panel-group">
                            <div class="panel panel-warning">
                               <div class="panel-heading">
                                  <h4 class="panel-title">
                                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_1">
                                     1.云安全平台可以为用户做什么?
                                     </a>
                                  </h4>
                               </div>
                               <div id="accordion2_1" class="panel-collapse">
                                  <div class="panel-body">
                                     <p>
                                        云安全平台可以检测您的机器的安全状况,生成一份安全扫描报告.
                                     </p>
                                  </div>
                               </div>
                            </div>
                            <div class="panel panel-warning">
                               <div class="panel-heading">
                                  <h4 class="panel-title">
                                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_2">
                                     2. 云安全平台是免费的吗?
                                     </a>
                                  </h4>
                               </div>
                               <div id="accordion2_2" class="panel-collapse">
                                  <div class="panel-body">
                                     云安全平台目前提供的所有功能都是免费的。
                                  </div>
                               </div>
                            </div>
                            <div class="panel panel-warning">
                               <div class="panel-heading">
                                  <h4 class="panel-title">
                                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_3">
                                     3. 云安全平台有没有扫描次数的限制吗?
                                     </a>
                                  </h4>
                               </div>
                               <div id="accordion2_3" class="panel-collapse">
                                  <div class="panel-body">
                                     目前云安全平台没有扫描次数的限制,但是为了不影响您的使用,最好不要频繁的扫描
                                  </div>
                               </div>
                            </div>
                            <div class="panel panel-warning">
                               <div class="panel-heading">
                                  <h4 class="panel-title">
                                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion2_4">
                                     4. 我有问题该如何反馈或求助?
                                     </a>
                                  </h4>
                               </div>
                               <div id="accordion2_4" class="panel-collapse">
                                  <div class="panel-body">
                                     邮件咨询：nwgadmin@ihep.ac.cn</br>
                                     客服热线：15911072623</br>
                                     新浪微博：http://weibo.com/u/3902953948</br>
                                     QQ咨询：949409306
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <!-- END TAB 3 -->
                      <!-- START TAB 3 -->
                      <div id="tab_3" class="tab-pane">
                         <div id="accordion3" class="panel-group">
                            <div class="panel panel-default">
                               <div class="panel-heading">
                                  <h4 class="panel-title">
                                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#accordion3_1">
                                     1. 云安全服务平台
                                     </a>
                                  </h4>
                               </div>
                               <div id="accordion3_1" class="panel-collapse">
                                  <div class="panel-body">
                                     基于众多安全扫描工具如openvas,nmap等的云安全扫描平台
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <!-- END TAB 3 -->
                    </div>
                    <!-- END TAB CONTENT -->
				</div>            
			</div>
		</div>
		<!-- END CONTAINER -->

	</div>
    <!-- END PAGE CONTAINER -->  
{% endblock %}
