{% extends "handleui/base.html" %}
{% block user %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <img alt="" src="/static/handleui/img/avatar1_small.jpg"/> 
              <span class="username">{{ email }}</span> <i class="icon-angle-down"></i> </a>
          <ul class="dropdown-menu">
              <li><a href="login.html"><i class="icon-key"></i> 退出</a> </li>
          </ul>
{% endblock %}
{% block header %}
        
		<li> <a href="/cloudsafe/scan/results/">扫描结果 </a> </li>
        <li  > <a href="/cloudsafe/scan/queue">扫描队列</a> </li>
		<li> <a href="/cloudsafe/scan/bug_index/">漏洞检索</a> </li>
		<li class="active"> <a href="/cloudsafe/scan/tasks/"><span class="selected"></span>端口扫描</a> </li>
        <li> <a href="/cloudsafe/scan/infaq/">帮助中心</a> </li>
        <li> <a href="/cloudsafe/scan/inabout/">关于我们</a> </li>
{% endblock %}
{% block content %}
    <!--Body content-->
    <form>
    <fieldset>
        <legend>scans status</legend>
        <table id="tasktable" class="table table-striped">
        <th>Tasks</th><th>Status</th><th>Progress</th><th>Details</th>
        {% for nmap_task in tasks %}
            <tr>
                <td>{{ nmap_task.id }}</td>
                <td id="{{ nmap_task.id }}" class="taskstatus">{{ nmap_task.status }}</td>
                <td><div id="{{ nmap_task.id }}" class="progressbar"></div></td>
                <td id="{{ nmap_task.id }}" class="detailslink">
                {% if nmap_task.result and 'report' in nmap_task.result %}
                    <a href="{{ url_for('scan.nmap_report', report_id=nmap_task.id) }}">Details</a>
                {% else %}
                    Details
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </fieldset>
    </form>
{% endblock %}
{% block javascript %}
    var interval_id = 0;
    var tasks_done = new Array();

    ajax_handler = function(){
        $.ajax({ url: "/cloudsafe/scan/jsontasks",
                 success: task_update_handler
        });
    }
    task_update_handler = function(jsontasks) {
            var tasklist = $.parseJSON(jsontasks);
            var all_done = true;
            $.each(tasklist, function(index, ntask){
                var pbarid = ntask.id + '.progressbar';
                var pstatusid = ntask.id + '.taskstatus';
                var plinkid = ntask.id + '.detailslink';
                var details_link = "<a href=\"/cloudsafe/scan/report/" + ntask.id + "\">Details</a>";
                if((ntask.ready == 1) && ($.inArray(ntask.id, tasks_done) == -1)){
                    $('#' + pbarid).progressbar({value: ntask.progress});
                    $('#' + pstatusid).text(ntask.status);
                    $('#' + plinkid).html(details_link);
                    tasks_done.push(ntask.id);
                    all_done = false;
                }
                else if($.inArray(ntask.id, tasks_done) == -1){
                    $('#' + pbarid).progressbar({value: ntask.progress});
                    $('#' + pstatusid).text(ntask.status);
                    all_done = false;
                }
            });
            if(all_done){
                clearInterval(interval_id);
            }
    }          

$(function () {
    $(".progressbar")
        .progressbar()
        .height(10)
        .width(70)
        .find('.ui-progressbar-value').css({
            "background": '#F20081'
        });
    ajax_handler();
    interval_id = setInterval(ajax_handler, 2000);
});
{% endblock %}