{% extends "handleui/base.html" %}
{% block user %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <img alt="" src="/static/handleui/img/avatar1_small.jpg"/> 
              <span class="username">{{ email }}</span> <i class="icon-angle-down"></i> </a>
          <ul class="dropdown-menu">
              <li><a href="login.html"><i class="icon-key"></i> 退出</a> </li>
          </ul>
{% endblock %}
{% block header %}
        
		<li> <a href="/cloudsafe/scan/results/">扫描结果 </a> </li>
        <li  > <a href="/cloudsafe/scan/queue">扫描队列</a> </li>
		<li> <a href="/cloudsafe/scan/bug_index/">漏洞检索</a> </li>
		<li class="active"> <a href="/cloudsafe/scan/scan_index/"><span class="selected"></span>端口扫描</a> </li>
        <li> <a href="/cloudsafe/scan/infaq/">帮助中心</a> </li>
        <li> <a href="/cloudsafe/scan/inabout/">关于我们</a> </li>
{% endblock %}
{% block content %}
<!--Body content-->
    <form method="POST" action="/cloudsafe/scan/tasks">
    <fieldset>
        <div class="form-group">
                        <label for="inputName">Target</label>
                        <input type="text" class="form-control" id="input_target" placeholder="Target" name="targets">
						<span class="help-block">specify the ip, subnet or domain you want to target</span>
                    </div>
					<div>
					 <label class="checkbox"><input type="checkbox" name="noping" value="noping">
            Do not ping target(s)
                    </label>
					
			</div>
		
                    <div class="form-group">
                        <label for="selectBlackListFile">Scan techniques</label>
                        <select class="form-control" id="selectVerbosity" name="scantype">
                           <option  value="0">Connect Scan</option>
                            <option value="1">Syn Scan</option>
                            <option value="2">Ack Scan</option>
                            <option value="3">Window Scan</option>
                            <option value="4">Maimon Scan</option>
                            <option value="5">Null Scan</option>
                            <option value="6">Fin Scan</option>
                            <option value="7">Xmas Scan</option>
                            <option value="8">UDP Scan</option>
                        </select>
                    </div>
					  <div class="form-group">
                        <label for="inputName">Ports specification</label>
                        <input type="text" class="form-control" id="inputName" placeholder="22-1024" name="ports">
						<span class="help-block">Ex: "22" or "1-65535" or "U:53,111,137,T:21-25,80,139,8080,S:9"</span>
                    </div>
					<div>
					<label class="checkbox"><input type="checkbox" name="os" value="os_detection">
                        Enable OS detection
                        </label>
                        <label class="checkbox"><input type="checkbox" name="banner" value="banner_detection">
                        Enable banner grabbing
                        </label>
				
     </div>
        <button type="submit" class="btn btn-primary">Scan</button>
    </fieldset>
    </form>
{% endblock %}
