{% extends "handleui/base.html" %}
{% block user %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <img alt="" src="/static/handleui/img/avatar1_small.jpg"/> 
              <span class="username">{{ email }}</span> <i class="icon-angle-down"></i> </a>
          <ul class="dropdown-menu">
              <li><a href="login.html"><i class="icon-key"></i> 退出</a> </li>
          </ul>
{% endblock %}
{% block header %}
        
		<li> <a href="/cloudsafe/scan/results/">扫描结果 </a> </li>
        <li  > <a href="/cloudsafe/scan/queue">扫描队列</a> </li>
		<li> <a href="/cloudsafe/scan/bug_index/">漏洞检索</a> </li>
		<li class="active"> <a href="/cloudsafe/scan/scan_index/"><span class="selected"></span>端口扫描</a> </li>
        <li> <a href="/cloudsafe/scan/infaq/">帮助中心</a> </li>
        <li> <a href="/cloudsafe/scan/inabout/">关于我们</a> </li>
{% endblock %}
{% block content %}

<div class="container">
    <h1>WebNmap</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                            data-target="#newJobModal">New Job
                    </button>
                </div>
            </div>
            <hr>
            <form>
    <fieldset>
        <legend>scans status</legend>
        <table id="tasktable" class="table table-striped">
        <th>Tasks</th><th>Status</th><th>Progress</th><th>Details</th>
        {% for nmap_task in tasks %}
            <tr>
                <td>{{ nmap_task.id }}</td>
				<td>{{ nmap_task.targets }}</td>
                <td id="{{ nmap_task.id }}" class="taskstatus">{{ nmap_task.status }}</td>
				<td><div id="{{ nmap_task.id }}" class="progressbar"></div></td>
                <td id="{{ nmap_task.id }}" class="detailslink">
                {% if nmap_task.result and 'report' in nmap_task.result %}
                    <a href="{{ url_for('scan.nmap_report', report_id=nmap_task.id) }}">Details</a>
                {% else %}
                    Details
                {% endif %}
                </td>
            </tr>
        {% endfor %}
		
        </table>
    </fieldset>
    </form>
        </div>
    </div>
</div>

<!-- New Job Modal -->
<div class="modal fade" id="newJobModal" tabindex="-1" role="dialog" aria-labelledby="newJobModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true"></span></button>
                <h4 class="modal-title" id="newJobModalLabel">New Job</h4>
            </div>
            <div class="modal-body">
                <form id="newJobForm">
                    <div class="form-group">
                        <label for="inputName">Target</label>
                        <input type="text" class="form-control" id="input_target" placeholder="Target" name="targets">
						<span class="help-block">specify the ip, subnet or domain you want to target</span>
                    </div>
					<div>
					 <label class="checkbox"><input type="checkbox" name="noping" value="noping">
            Do not ping target(s)
                    </label>
					
			</div>
		
                    <div class="form-group">
                        <label for="selectBlackListFile">Scan techniques</label>
                        <select class="form-control" id="selectVerbosity" name="scantype">
                           <option  value="0">Connect Scan</option>
                            <option value="1">Syn Scan</option>
                            <option value="2">Ack Scan</option>
                            <option value="3">Window Scan</option>
                            <option value="4">Maimon Scan</option>
                            <option value="5">Null Scan</option>
                            <option value="6">Fin Scan</option>
                            <option value="7">Xmas Scan</option>
                            <option value="8">UDP Scan</option>
                        </select>
                    </div>
					  <div class="form-group">
                        <label for="inputName">Ports specification</label>
                        <input type="text" class="form-control" id="inputName" placeholder="22-1024" name="ports">
						<span class="help-block">Ex: "22" or "1-65535" or "U:53,111,137,T:21-25,80,139,8080,S:9"</span>
                    </div>
					<div>
					<label class="checkbox"><input type="checkbox" name="os" value="os_detection">
                        Enable OS detection
                        </label>
                        <label class="checkbox"><input type="checkbox" name="banner" value="banner_detection">
                        Enable banner grabbing
                        </label>
				
     </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="createJobButton" onclick="createJob()">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Job Modal -->
<div class="modal fade" id="deleteJobModal" tabindex="-1" role="dialog" aria-labelledby="deleteJobModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteJobModalLabel">Delete Job</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Job?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" id="deleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Log Modal -->
<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="logModalLabel">Log</h4>
            </div>
            <div class="modal-body">
                <pre id="logContainer"></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
function createJob() {
            $.ajax({
                type: 'POST',
                url: '/cloudsafe/scan/tasks',
                data:$('#newJobForm').serialize(),
                async: true,
	            success: function(data) {
            $("#createJobButton").removeClass('disabled');
            $('#newJobModal').modal('hide');
			window.location.reload();
			}
            
            });
        }

 var interval_id = 0;
    var tasks_done = new Array();

    ajax_handler = function(){
        $.ajax({ url: "/cloudsafe/scan/jsontasks",
                 success: task_update_handler
        });
    }


    task_update_handler = function(jsontasks) {
            var tasklist = $.parseJSON(jsontasks);
            var all_done = true;
            $.each(tasklist, function(index, ntask){
                var pbarid = ntask.id + '.progressbar';
                var pstatusid = ntask.id + '.taskstatus';
                var plinkid = ntask.id + '.detailslink';
                var details_link = "<a href=\"/cloudsafe/scan/report/" + ntask.id + "\">Details</a>";
                if((ntask.ready == 1) && ($.inArray(ntask.id, tasks_done) == -1)){
                    $('#' + pbarid).progressbar({value: ntask.progress});
					
					
                    $('#' + pstatusid).text(ntask.status);
                    $('#' + plinkid).html(details_link);
                    tasks_done.push(ntask.id);
                    all_done = false;
                }
                else if($.inArray(ntask.id, tasks_done) == -1){
                    $('#' + pbarid).progressbar({value: ntask.progress});
                    $('#' + pstatusid).text(ntask.status);
                    all_done = false;
                }
            });
            if(all_done){
                clearInterval(interval_id);
            }
    }          

$(function () {
 $(".progressbar")
        .progressbar()
        .height(10)
        .width(70)
        .find('.ui-progressbar-value').css({
            "background": '#F20081'
        });
 
    ajax_handler();
    interval_id = setInterval(ajax_handler, 2000);
});

{% endblock %}