{% extends "base.html" %}
{% block content %}

<!-- Main Container -->
<main id="main-container">
    <!-- Page Header -->
    <div class="content bg-gray-lighter">
        <div class="row items-push">
            <div class="col-sm-7">
                <h1 class="page-heading">
                    策略规则列表 <small></small>
                </h1>
            </div>
            <div class="col-sm-5 text-right hidden-xs">
                <ol class="breadcrumb push-10-t">
                    <li>首页</li>
                    <li><a class="link-effect" href="">Search Results</a></li>
                </ol>
            </div>
        </div>
    </div>
    <!-- END Page Header -->

    <!-- Partial Table -->
    <div class="block">
        <div class="block-header">
            <h3 class="block-title"></h3>
        </div>
        <div class="block-content">
            <table class="table table-striped table-vcenter">
                <thead>
                    <tr>
                        <th class="hidden-xs" style="width: 5%;">ID</th>
                        <th class="hidden-xs" style="width: 10%;">插件规则</th>
                        <th class="text-center" style="width: 40%;">规则详情</th>
                        <th class="hidden-xs" style="width: 10px">归属类型</th>
                        <th class="hidden-xs" style="width: 10px">更新时间</th>
                        <th class="hidden-xs" style="width: 5px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {%for p in policy %}
                    <tr>
                        <td class="font-w600">{{ p[1].id }}</td>
                        <td class="hidden-xs">{{ p[1].policy_name }}</td>
                        <td class="hidden-xs hidden-sm">{{ p[1].content | truncate(50, True) }}</td>
                        <td class="hidden-xs hidden-sm">{{ p[0] }}</td>
                        <td class="hidden-xs hidden-sm">{{ p[1].update_time }}</td>
                        <td class="hidden-xs">
                            <div class="btn-group">
                                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit Client"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove Client"><i class="fa fa-times"></i></button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Partial Table -->

</main>

{% endblock %}