{% extends "base.html" %}
{% block content %}

<!-- Main Container -->
<main id="main-container">
    <!-- Page Header -->
    <div class="content bg-gray-lighter">
        <div class="row items-push">
            <div class="col-sm-7">
                <h1 class="page-heading">
                    扫描结果列表 <small></small>
                </h1>
            </div>
            <div class="col-sm-5 text-right hidden-xs">
                <ol class="breadcrumb push-10-t">
                    <li>首页</li>
                    <li><a class="link-effect" href="">Search Results</a></li>
                </ol>
            </div>
        </div>
    </div>
    <!-- END Page Header -->


    <div class="block-content tab-content bg-white">
        <!-- Projects -->
        <div class="tab-pane fade fade-up in active" id="search-projects">
            <div class="border-b push-30">
                <h2 class="push-10">6 <span class="h5 font-w400 text-muted">Projects Found</span></h2>
            </div>

            <table class="table table-striped table-vcenter">
                <thead>
                    <tr>
                        <th style="width: 35%;"><i class="fa fa-suitcase text-gray"></i> 扫描URL</th>
                        <th class="text-center hidden-xs" style="width: 15%;"><i class="fa fa-ticket text-gray"></i> 检测结果</th>
                        <th class="text-center hidden-xs hidden-sm" style="width: 8%;"><i class="fa fa-bar-chart text-gray"></i> 扫描状态</th>
                        <th class="text-right" style="width: 15%; min-width: 110px;"><i class="fa fa-trophy text-gray"></i> 更多操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h3 class="h5 font-w600 push-10">
                                <a class="link-effect" href="javascript:void(0)">Web Application Framework</a>
                            </h3>
                            <div class="push-10">
                                <span class="label label-success"><i class="fa fa-check"></i> Completed</span>
                            </div>
                            <div class="font-s13 text-muted hidden-xs">
                                <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                            </div>
                        </td>
                        <td class="h3 text-center hidden-xs">15</td>
                        <td class="h3 text-center hidden-xs hidden-sm">520</td>
                        <td class="h6 text-primary text-right">漏洞详情/重新扫描</td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="h5 font-w600 push-10">
                                <a class="link-effect" href="javascript:void(0)">Wordpress Theme</a>
                            </h3>
                            <div class="push-10">
                                <span class="label label-warning"><i class="fa fa-refresh fa-spin"></i> In Progress</span>
                            </div>
                            <div class="font-s13 text-muted hidden-xs">
                                <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                            </div>
                        </td>
                        <td class="h3 text-center hidden-xs">-</td>
                        <td class="h3 text-center hidden-xs hidden-sm">-</td>
                        <td class="h3 text-primary text-right">-</td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="h5 font-w600 push-10">
                                <a class="link-effect" href="javascript:void(0)">Mobile Application</a>
                            </h3>
                            <div class="push-10">
                                <span class="label label-success"><i class="fa fa-check"></i> Completed</span>
                            </div>
                            <div class="font-s13 text-muted hidden-xs">
                                <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                            </div>
                        </td>
                        <td class="h3 text-center hidden-xs">25</td>
                        <td class="h3 text-center hidden-xs hidden-sm">980</td>
                        <td class="h3 text-primary text-right">$ 16,698</td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="h5 font-w600 push-10">
                                <a class="link-effect" href="javascript:void(0)">UI Kit</a>
                            </h3>
                            <div class="push-10">
                                <span class="label label-danger"><i class="fa fa-times"></i> Cancelled</span>
                            </div>
                            <div class="font-s13 text-muted hidden-xs">
                                <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                            </div>
                        </td>
                        <td class="h3 text-center hidden-xs">-</td>
                        <td class="h3 text-center hidden-xs hidden-sm">-</td>
                        <td class="h3 text-primary text-right">-</td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="h5 font-w600 push-10">
                                <a class="link-effect" href="javascript:void(0)">Admin Template</a>
                            </h3>
                            <div class="push-10">
                                <span class="label label-success"><i class="fa fa-check"></i> Completed</span>
                            </div>
                            <div class="font-s13 text-muted hidden-xs">
                                <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                            </div>
                        </td>
                        <td class="h3 text-center hidden-xs">262</td>
                        <td class="h3 text-center hidden-xs hidden-sm">1600</td>
                        <td class="h3 text-primary text-right">$ 12,320</td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="h5 font-w600 push-10">
                                <a class="link-effect" href="javascript:void(0)">Flat Icon Set</a>
                            </h3>
                            <div class="push-10">
                                <span class="label label-success"><i class="fa fa-check"></i> Completed</span>
                            </div>
                            <div class="font-s13 text-muted hidden-xs">
                                <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                            </div>
                        </td>
                        <td class="h3 text-center hidden-xs">3</td>
                        <td class="h3 text-center hidden-xs hidden-sm">148</td>
                        <td class="h3 text-primary text-right">$ 6,320</td>
                    </tr>
                </tbody>
            </table>
            <div class="border-t">
                <ul class="pagination">
                    <li class="disabled"><a href="javascript:void(0)">Prev</a></li>
                    <li class="active"><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><span>...</span></li>
                    <li><a href="javascript:void(0)">10</a></li>
                    <li><a href="javascript:void(0)">Next</a></li>
                </ul>
            </div>
        </div>
        <!-- END Projects -->
    </div>
</main>

{% endblock %}