{% extends "base.html" %}
{% block content %}

<!-- Main Container -->
<main id="main-container">
    <!-- Page Header -->
    <div class="content bg-gray-lighter">
        <div class="row items-push">
            <div class="col-sm-7">
                <h1 class="page-heading">
                    扫描结果列表 <small></small>
                </h1>
            </div>
            <div class="col-sm-5 text-right hidden-xs">
                <ol class="breadcrumb push-10-t">
                    <li>首页</li>
                    <li><a class="link-effect" href="">Search Results</a></li>
                </ol>
            </div>
        </div>
    </div>
    <!-- END Page Header -->


    <div class="block-content tab-content bg-white">
        <!-- Projects -->
        <div class="tab-pane fade fade-up in active" id="search-projects">
            <div class="border-b push-30">
                <h2 class="push-10">6 <span class="h5 font-w400 text-muted">Projects Found</span></h2>
            </div>

            <table class="table table-striped table-vcenter">
                <thead>
                    <tr>
                        <th style="width: 35%;"><i class="fa fa-suitcase text-gray"></i> 扫描URL</th>
                        <th class="text-center hidden-xs" style="width: 45%;"><i class="fa fa-ticket text-gray"></i> 检测结果</th>
                        <th class="text-center hidden-xs hidden-sm" style="width: 8%;"><i class="fa fa-bar-chart text-gray"></i> 扫描状态</th>
                        <th class="text-right" style="width: 15%; min-width: 110px;"><i class="fa fa-trophy text-gray"></i> 更多操作</th>
                    </tr>
                </thead>
                <tbody>
                    {%for task in scanner %}
                    <tr>
                        <td>
                            <h3 class="h5 font-w600 push-10">
                                <a class="link-effect" href="javascript:void(0)">{{ task.scan_url }}</a>
                            </h3>
                            <div class="push-10">
                                <span class="badge badge-warning"><i class="fa fa-cog"></i> 任务名:{{ task.audit_name }}</span>
                            </div>
                            <div class="font-s13 text-muted hidden-xs">
                                <p>起始时间: {{ task.starttime }} | 结束时间: {{ task.finishtime }}</p>
                            </div>
                        </td>
                        <td class="h4 text-center hidden-xs">
                            <div class="block-content">
                                <span class="badge badge-danger">{{ task.high_risk_cnt }}高危</span> |
                                <span class="badge badge-warning">{{ task.middle_risk_cnt }}中危</span> |
                                <span class="badge badge-info">{{ task.low_risk_cnt }}低危</span> |
                                <span class="badge badge-success">{{ task.info_risk_cnt }}提示</span>
                            </div>
                        </td>
                        <td class="h5 text-center hidden-xs hidden-sm">
                            <div class="push-5">
                                <span class="label label-success"><i class="fa fa-check"></i> Completed</span>
                            </div>
                        </td>
                        <td class="h6 text-primary text-right">漏洞详情/重新扫描</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="border-t">
                <ul class="pagination">
                    <li class="disabled"><a href="javascript:void(0)">Prev</a></li>
                    <li class="active"><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><span>...</span></li>
                    <li><a href="javascript:void(0)">10</a></li>
                    <li><a href="javascript:void(0)">Next</a></li>
                </ul>
            </div>
        </div>
        <!-- END Projects -->
    </div>
</main>

{% endblock %}